.multi-item-slider-card {
  margin: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.multi-item-slider-card:hover {
  transform: scale(1.05);
}

.author-card-img {
  max-height: 380px !important;
  min-height: 300px !important;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
