.home-new-arrival-row,
.home-best-seller-row,
.home-authors-row {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 3rem !important;
  width: 90% !important;
}

.home-page-tilte {
  margin-left: -1rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
